.cache/
.idea/
__pycache__/
AEBackups/
memeUpload/
Misc/
MonopolyLogs/
tables/
pips/numgifs_/
pips/ac.py
pips/dict.xdxf
pips/engwordsf.txt
pips/engwordsk.txt
pips/ruswordsf.txt
pips/ruswordsk.txt
venv/
Хранилище/
Akari.db
Akari3.bat
Haidori.bat
haidori_token.txt
token.txt
vktoken.txt
mandarinka.json
chromedriver.exe
coconut.png
test.py

